@import 'carousel.css';
@import 'toast.css';
@import 'donations.css';
@import 'members.css';
@import 'volunteer.css';

@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/source-sans-pro-latin-300.woff2') format('woff2'),
    url('./fonts/source-sans-pro-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/source-sans-pro-latin-600.woff2') format('woff2'),
    url('./fonts/source-sans-pro-latin-600.woff') format('woff');
}

:root {
  --page-width: 1146px;
  --base-font-size: 1rem;
  --small-font-size: 85%;
  --main-color: #393746;
}

body {
  background: white;
  color: black;
  font: var(--base-font-size) / 1.5 'Source Sans Pro', Sans-Serif;
  margin: 0;
  font-weight: 300;
}

header,
main,
footer {
  max-width: 95%;
  width: var(--page-width);
  margin: 1rem auto;
}

header {
  position: relative;
}
header h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}
header h2 {
  margin-top: 0.5rem;
}
header nav {
  position: absolute;
  right: 0;
  top: -2rem;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  padding: 0 0.2rem;
}
header nav ul li:after {
  content: '|';
  position: relative;
  left: 0.3rem;
}
header nav ul li:last-child {
  padding-right: 0;
}
header nav ul li:last-child:after {
  content: '';
}

.testimonials-container {
  padding: 30px 0;
  min-height: 400px;
}

.testimonials-container > div{
  display: flex;
  align-items: center;
}

.testimonials-container button {
  cursor: pointer;
  font-size: 2.5rem;
  border: none;
  background: transparent;
}

.testimonial {
  text-align: center;
  width: 90%;
  margin: auto;
}

.testimonial img {
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  margin: auto;
}

.testimonial > div {
  font-size: 1.1rem;
   font-weight: 700;
}

footer .copyright {
  border-top: solid 3px #ccc;
  font-size: var(--small-font-size);
}
.copyright p {
  margin: 1rem 0;
}
.copyright p:first-child {
  float: left;
}
.copyright p:last-child {
  text-align: right;
}

h3 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

blockquote {
  background: #333;
  color: white;
  margin: 1.5rem -1rem;
  padding: 1rem 2rem;
}
blockquote p,
blockquote dl {
  margin: 0;
}
blockquote a {
  color: #ccc;
}
blockquote a:hover {
  color: white;
  border-bottom: solid 1px white;
}

.hang-it {
  display: inline-block;
  margin-left: -0.5rem;
}

q {
  display: block;
  position: relative;
}
q::before {
  color: silver;
  content: '“';
  font-size: xx-large;
  font-weight: bold;
  left: -1.1rem;
  position: absolute;
  top: -0.36rem;
}
q::after {
  content: '';
}

dl {
}
dl dt {
  float: left;
  font-weight: bold;
  margin-right: 0.5rem;
}
dl dd {
  margin-left: 1rem;
}

h2 {
  font-weight: normal;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  border-bottom: solid 1px blue;
}

hr {
  border-style: solid;
  border-width: 1px;
  color: silver;
}

figure.float-right {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 50%;
}
figure.float-right img {
  height: auto;
  width: 100%;
}
/* these images come from the cms so for now they have to be the first element
     on the page, so we use css to push them down the page a little to match the
     images on other pages
   */
figure.float-right.image-floated-right img {
  margin-top: 56px;
}
figure.float-right figcaption {
  font-size: var(--small-font-size);
  font-style: italic;
}

.tech-talks {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.tech-talks > li {
  border-bottom: solid 1px #ccc;
  margin: 1rem 0;
  padding-bottom: 1rem;
}
.tech-talks > li:first-child {
  border-top: solid 1px #ccc;
}
.tech-talks h3 {
  margin: 1.5rem 0;
}
.tech-talks h3 em {
  font-weight: normal;
}

.stats-enlarge {
  max-width: 60%;
  object-fit: cover;
}

.donut-graph {
  width: 100%;
}

.donut-graph-center {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  width: 80%;
}

.stats-graphs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.8em 0;
}

.stats-graphs > figure {
  align-self: stretch;
  padding: 25px 0;
}

.stats-graphs figcaption {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 130px;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 20px; 
}

.stats-graphs img {
  display: block;
  margin: auto;
  width: 65%;
}

.stats-p {
  width: 80%;
  margin: auto;
  text-align: center;
}

.display-stats {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 1.5em 0;
}

.stats-list {
  width: 50%;
}

.stats-list h3 {
  text-align: center;
  width: 70%;
}

.block {
  background-color: #393746;
  display: block;
  height: 35px;
  margin: 0 10px;
}

.block-270px { 
  width: 270px;
}

.block-65px {
  width: 65px;
}

.block-40px {
  width: 40px;
}

.block-170px {
  width: 170px;
}

.block-100px {
  width: 100px;
}

.block-45px {
  width: 45px;
}

.display-stats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.display-stats ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.display-stats .ethnicity-list {
  margin-left: 15%;
}

.display-stats ul li span:first-child{
  font-weight: bold;
  white-space: nowrap;
}

.stats {
  flex: 1 1 auto;
  max-width: 360px;
}

.banner > blockquote {
  margin: 0;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1 1 auto;
  max-width: 250px;
}

.flex-text {
  font-size: 1.5em;
  font-weight: 500;
}

.hidden {
  display: none;
  transition: all 200ms ease-in-out;
}
/* small screens */
/* under 820px wide, adjust margins, fix the footer and tweak how we display the carousel */
@media screen and (max-width: 819px) {
  header h1 {
    padding-top: 1rem;
  }
  .stats-p{
    width: 90%;
  }

  .display-stats {
    display: block;
  }

  .display-stats .ethnicity-list {
    margin-left: 0;
  }

  .stats-list {
    width: 100%;
    margin: auto;
    text-align: left;
  }

  .stats-list h3 {
    text-align: left;
  }

  .copyright p:first-child {
    float: none;
  }
  .copyright p:last-child {
    text-align: left;
  }
}
