---
layout: mlayout.hbs
htmlTitle: Tech Talks | The Collab Lab
pageTitle: <a href="/">The Collab Lab</a> / Tech Talks
navigation: <ul> <li><a href="/about-us/">About</a></li> <li><a href="/who-we-are/">Who We Are</a></li> <li><a href="/apply/">Apply</a></li> <li><a href="/mentor/">Mentor</a></li> <li>Tech Talks</li> <li><a href="/code-of-conduct/">Code of Conduct</a></li> </ul>
---

<h2>Tech Talks by The Collab Lab</h2>
<blockquote>
  <p>
    Join us for a new Tech Talk on the 2nd Wednesday of every month.
    <a href="https://www.meetup.com/tech-talks-by-the-collab-lab"
      >RSVP on Meetup</a
    >.
  </p>
</blockquote>

<blockquote>
  <p>
    Interested in giving a Tech Talk?
    <a href="https://airtable.com/shrmy5hJ8tEiQsxI6">Submit your idea here</a>.
  </p>
</blockquote>

<ul class="tech-talks">
  {%- for techTalk in techTalks -%} {% if techTalk.visible %}
  <li>
    <h3>{{techTalk.title}} – <em>{{(techTalk.formattedDate}}</em></h3>
    {% if techTalk.youTubeEmbedUrl %}
    <iframe
      width="560"
      height="315"
      src="{{techTalk.youTubeEmbedUrl}}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    {% endif %} {{techTalk.description.html}}
    <p>
      <a href="{{techTalk.meetupUrl}}">Meetup page for {{techTalk.title}}</a>
    </p>
  </li>
  {% endif %} {%- endfor -%}
</ul>

<h2>Have a talk idea? Get in touch!</h2>
<p>
  Interested in speaking at our Meetup?
  <a href="https://airtable.com/shrmy5hJ8tEiQsxI6">Submit your idea here</a>.
</p>
