---
layout: mlayout.hbs
htmlTitle: Who We Are | The Collab Lab
pageTitle: <a href="/">The Collab Lab</a> / Who We Are
navigation: <ul><li><a href="/about-us/">About</a></li><li>Who We Are</li><li><a href="/apply/">Apply</a></li><li><a href="/mentor/">Mentor</a></li><li><a href="/code-of-conduct/">Code of Conduct</a></li></ul>
---

<h2 id="participants">Participants</h2>
<p>
  Our participants enter The Collab Lab with a strong baseline of coding skills
  including HTML, CSS, JavaScript, and React. They leave with experience in how
  software teams work.
</p>
<p>
  To participate in a Collab Lab cohort means buying into a
  <a href="https://hbr.org/2016/01/what-having-a-growth-mindset-actually-means"
    >growth mindset</a
  >, opening yourself to learning, and taking risks in a relatively low-stakes
  setting. Seasoned technologists guide these early career developers as they
  pair program, review each others’ code, and submit & merge pull requests. They
  are also coached on how to be effective on a fully distributed (remote) team
  by
  <a href="https://zapier.com/learn/remote-work/">
    people who do it every day for a living </a
  >.
</p>
<p>
  Alums of The Collab Lab report being better equipped to talk about how they
  work on a team as well as the thought processes behind their work, helping
  them perform better in job interviews for technical roles.
  <strong>Hire them!</strong>
</p>

{%- for team in teams -%}
<h3 id="{{team.anchor}}">{{team.displayName}} | {{team.calculatedDate}}</h3>
<ul class="member-gallery">
  {%- for developer in team.developers -%}
  <li class="member-container">
    <img
      alt="{{developer.fullName}}"
      class="team-member-photo"
      src="{{developer.pathToPhoto}}"
    />
    <div class="member-caption">
      <p>{{developer.firstName}}</p>
      {% if developer.gitHubUrl.length %}
      <a class="social-media-logo" href="{{developer.gitHubUrl}}">
        <img src="/assets/img/icons/github.png" alt="GitHub" />
      </a>
      {% endif %} {% if developer.linkedInUrl.length %}
      <a class="social-media-logo" href="{{developer.linkedInUrl}}"
        ><img src="/assets/img/icons/linkedin.png" alt="LinkedIn"
      /></a>
      {% endif %} {% if developer.twitterUrl.length %}
      <a class="social-media-logo" href="{{developer.twitterUrl}}"
        ><img src="/assets/img/icons/twitter.png" alt="Twitter"
      /></a>
      {% endif %}
    </div>
  </li>
  {%- endfor -%}
</ul>

{%- endfor -%} {% comment %} START MENTORS {% endcomment %}

<h2 id="mentors">Mentors</h2>
<p>
  Collab Lab’s mentors are the lifeblood of the program. All of our mentors are
  working software developers and engineering leaders. They volunteer their time
  because they believe in leaving tech better than they found it.
</p>
<ul class="member-gallery">
  {%- for mentor in mentors -%}
  <li class="member-container">
    <img
      alt="{{mentor.fullName}}"
      class="team-member-photo"
      src="{{mentor.pathToPhoto}}"
    />
    <div class="member-caption">
      <p>{{mentor.firstName}}</p>
      {% if mentor.gitHubUrl.length %}
      <a class="social-media-logo" href="{{mentor.gitHubUrl}}">
        <img src="/assets/img/icons/github.png" alt="GitHub" />
      </a>
      {% endif %} {% if mentor.linkedInUrl.length %}
      <a class="social-media-logo" href="{{mentor.linkedInUrl}}"
        ><img src="/assets/img/icons/linkedin.png" alt="LinkedIn"
      /></a>
      {% endif %} {% if mentor.twitterUrl.length %}
      <a class="social-media-logo" href="{{mentor.twitterUrl}}"
        ><img src="/assets/img/icons/twitter.png" alt="Twitter"
      /></a>
      {% endif %}
    </div>
  </li>
  <li class="member-container span-3">
    {{mentor.bio.html}}
  </li>
  {%- endfor -%}
</ul>
{% comment %} START ADVISORS {% endcomment %}
<h2 id="board">Board & Advisors</h2>
<ul>
  {%- for advisor in advisors -%}
  <li class="member-container span-3">
    {{advisor.bio}}
  </li>
<!--   <li class="member-container span-3">
    <p>
      <strong>Craig John Alimo</strong> is a
      <a href="https://www.linkedin.com/in/calimo/">Trainer/Educator</a> for the
      Office of Diversity, Equity and Inclusion at San Jose State University. He
      serves as an advisor to The Collab Lab’s Board on diversity issues and
      survey design and lives in sunny Richmond, California, with his partner
      Nancy and their dog, Tessa.
    </p>
  </li>
  <li class="member-container span-3">
    <p>
      <strong>Kelly de Vries</strong> is a
      <a href="https://www.linkedin.com/in/kellyanndevries/"
        >Software Engineer</a
      >
      at Clarity Innovations, Inc. and organizes the
      <a href="https://www.meetup.com/Portland-JR-DEVELOPER-Meetup/"
        >Portland Jr Dev Meetup</a
      >. She serves as an advisor to the Board on community issues and lives in
      beautiful Portland, Oregon with her husband Jason and their spunky pup,
      Otto.
    </p>
  </li>
  <li class="member-container span-3">
    <p>
      <strong>Michelle Sauque</strong> is a Customer Champion at
      <a href="https://zapier.com">Zapier</a>. She serves as Treasurer on The
      Collab Lab’s Board and as one of Collab Lab’s points of contact for
      <a href="/code-of-conduct/">Code of Conduct</a> concerns.
    </p>
  </li>
  <li class="member-container span-3">
    <p>
      <strong>Stacie Taylor,</strong> Frontend Engineer at
      <a href="https://zapier.com">Zapier</a>, participated in the first Collab
      Lab cohort and has served as a mentor for every cohort since. She serves
      as Secretary on the Board of Directors and as one of Collab Lab’s points
      of contact for <a href="/code-of-conduct/">Code of Conduct</a> concerns.
    </p>
  </li>
 -->  {%- endfor -%}
</ul>
{% comment %} START FOUNDERS {% endcomment %}
<h2 id="founder">Founders</h2>
<ul class="member-gallery">
  <li class="member-container">
    <img
      alt="Andrew Hedges"
      class="team-member-photo"
      src="/assets/img/members/andrewhedges.jpg"
    />
    <div class="member-caption">
      <p>Andrew</p>
      <a class="social-media-logo" href="https://github.com/segdeha"
        ><img src="/assets/img/icons/github.png" alt="GitHub"
      /></a>
      <a
        class="social-media-logo"
        href="https://www.linkedin.com/in/andrewhedges/"
        ><img src="/assets/img/icons/linkedin.png" alt="LinkedIn"
      /></a>
      <a class="social-media-logo" href="https://twitter.com/segdeha"
        ><img src="/assets/img/icons/twitter.png" alt="Twitter"
      /></a>
    </div>
  </li>
  <li class="member-container span-3">
    <p>
      <strong>Andrew Hedges,</strong> Founder of The Collab Lab, is a longtime
      web developer, engineering manager, and educator. In his day job, he leads
      fully distributed teams at <a href="https://zapier.com">Zapier</a>, a
      workflow automation startup. He is an advisor to and former instructor for
      <a href="https://www.pdxcodeguild.com">PDX Code Guild</a>, a coding
      bootcamp located in his hometown of Portland, Oregon, and serves on the
      technology committee for
      <a href="https://www.pueblounidopdx.org">Pueblo Unido PDX</a>.
    </p>
    <p>
      <a href="https://andrew.hedges.name">Andrew</a> holds a Masters of
      Education in counseling and human development from the University of
      Maryland College Park. He spent 7 years designing and conducting training
      programs for university staff before making the leap to web development in
      1998.
    </p>
  </li>
</ul>
<h2>Get in touch!</h2>
<p>
  The Collab Lab is on Twitter
  <a href="https://twitter.com/_collab_lab">@_collab_lab</a>. We post periodic
  updates about the program on
  <a href="https://dev.to/the-collab-lab">our dev.to channel</a>. Press
  inquiries may be directed via email to Andrew at
  <a
    href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#110;&#100;&#114;&#101;&#119;&#64;&#116;&#104;&#101;&#45;&#99;&#111;&#108;&#108;&#97;&#98;&#45;&#108;&#97;&#98;&#46;&#99;&#111;&#100;&#101;&#115;"
    >&#97;&#110;&#100;&#114;&#101;&#119;&#64;&#116;&#104;&#101;&#45;&#99;&#111;&#108;&#108;&#97;&#98;&#45;&#108;&#97;&#98;&#46;&#99;&#111;&#100;&#101;&#115;</a
  >.
</p>
